@{
    ViewData["Title"] = "Home Page";
}

<div class="col-sm-12">
    <h2>Welcome to Equipment Rental System!</h2>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-body">
                    SADSASDASDA
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-body">
                    SADSASDASDA
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-body">
                    SADSASDASDA
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-body">
                    SADSASDASDA
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-body">
                    SADSASDASDA
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-title">
                    Search rentals by user data
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" id="searchRentalUserText" placeholder="Search rentals by user data" />
                    <button onclick="javascript:SearchRentalUser()" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function SearchRentalUser() {
        var url = '@Url.Action("Index", "Rental", new { data = "__text__" })';
        window.location.href = url.replace('__text__', $("#searchRentalUserText").val());
    }
</script>